<div class="container">
  <h2>About Suyash's Hotel Booking Application</h2>
  <p>
    This is a hotel search and booking application that allows users to find and book hotels in various locations. Users can search for hotels based on different criteria like price, star ratings, and user ratings. They can also view detailed information about selected hotels, read reviews, and make bookings.
  </p>
  <p>
    The application provides features like user registration, user login, and feedback for hotel stays. Users can register and log in to book hotels, and they can provide feedback about their experiences. The application makes use of a mock backend with data stored in a JSON file.
  </p>
  <p>
    Built by Suyash Waghmare, this application is built using Angular and follows best practices to provide a smooth and user-friendly experience for hotel searching and booking.
  </p>
  <h3>Help</h3>
  <p>
    If you need any assistance or have any inquiries about the application, feel free to contact Suyash at 8390940284.
  </p>
</div>
